<!--Template HTML for calculated BMI page-->

<div class="bg-success-subtle text-dark rounded">
    <h1>Thank you for your information!</h1>
    <h2>Please check below for your results.</h2>
    <br>
    <p>You entered a weight of: {{weight}} kilograms.</p>
    <p>You entered a height of: {{height}} meters.</p>
    <br>
    <p>Your calculated BMI is: {{bmi}}.</p>

    <div style="text-align: center">
    <a href="/">Calculate another BMI</a>
    </div>
</div>