<!--Template HTML for page shown when errors in data-->

<div class="bg-danger text-white rounded">
    <h1>There was an error!</h1>
    <br>
    <p>{{errorScript}}</p>

    <div style="text-align: center">
    <a href="/">Enter your data again.</a>
    </div>
</div>